[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/godot
Name=Godot
Comment=Application for making games
GenericName=Game Engine
Icon=godot
Categories=Development;
