name: Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:

  build:
    name: Build and release gdvm
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04 # for glibc compatibility with systems > 20.04
            TARGET: linux
            CMD_BUILD: |
              make release
            OUT_FILE_NAME: release/gdvm_linux.zip
# TEMPLATE FOR INSPIRATION :P
#          - os: macos-latest
#           TARGET: macos
#            CMD_BUILD: >
#              pyinstaller -F -w -n clipster -i resources/clipster.icns cli.py &&
#              cd dist/ &&
#              zip -r9 clipster clipster.app/
#            OUT_FILE_NAME: clipster.zip
#          - os: windows-latest
#           TARGET: windows
#            CMD_BUILD: pyinstaller -F -w -n clipster -i resources/clipster.ico cli.py
#            OUT_FILE_NAME: clipster.exe
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build with pyinstaller for ${{ matrix.TARGET }}
        run: ${{matrix.CMD_BUILD}}
      - name: Create release for ${{ matrix.TARGET }}
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{matrix.OUT_FILE_NAME}}
